* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #020a18;
}
.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}
.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.subtitle {
    margin-bottom: 10px;
    color: #3a68b8;
}
.title {
    margin-bottom: 40px;
    color: #fff;
}

.text {
    color: #fff;
}

.top__buttons {
    margin-top: 50px;
}

.button {
    color: #fff;
    background-color: #3a68b8;
}
